#!/bin/bash
source .env

cat <<EOF
[Unit]
Description=EasyMark server
After=network.target

[Service]
User=easymark
Group=easymark
Type=simple
Restart=always
ExecStart=/usr/local/lib/easymark/bin/easymark
WorkingDirectory=/var/lib/easymark
Environment="TZ=$TIMEZONE"
OOMScoreAdjust=-1000

[Install]
WantedBy=multi-user.target
EOF
